/*
Theme Name: myPortfolio 1.0
Theme URL:  http://www.nadinejackson1.github.io
Author: Nadine Jackson
Author URL: http://www.nadinejackson1.github.io
Template: CP11
Description: myPortfolio Theme
Version: 1.0
*/

@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500");

html,
body {
    margin: 0;
    padding: 0;
}

ul.filters {
    display: block;
    width: 100%;
    margin: 0;
    padding: 30px 0;
}

ul.filters > li {
    list-style: none;
    display: inline-block;
}

ul.filters > li > a {
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 5px 20px;
}

ul.filters > li > a:hover {
    background-color: #e6e9ed;
}

ul.filters > li.active > a {
    color: #ffbb00;
    background-color: rgba(23, 182, 255, 0);
}

.project {
    position: relative;
    margin-bottom: 50px;
    color: #000;
    border-radius: 0;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.075);
}

.project-head {
    position: relative;
    overflow: hidden;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(67, 94, 81, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.project-hover {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffbb00;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.project-body {
    padding-top: 10px;
    padding-bottom: 10px;
}

h4.title {
    color: #434e5e;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.project-btn {
    margin-bottom: -40px;
    font-size: 0.9rem;
    background-color: #fff;
    color: #222;
    border: 1px solid #eee;
    border-radius: 0;
    width: 120px;
    box-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.075);
}

.project-btn:hover {
    background-color: #ffbb00;
    color: #fff;
}



* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    background-color: #EEEEEE;
}

header {
    height: 100vh;
    background-color: #ffbb00;
    color: #F5F5F5;
}

header > div {
    max-width: 650px;
    padding-top: 50vh;
    margin: 0 auto;
}

.introduction {
    font-size: 20px;
    line-height: 1.67;
    letter-spacing: 0.7px;
    padding-left: 5%;
    padding-right: 5%;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.line-number {
    width: 14px;
    margin-right: 1.5rem;
    opacity: 0.33;
    user-select: none;
}

.line-content,
.line-content mark {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 4px;
    opacity: 85%;
}

.line-content mark {
    letter-spacing: 4px;
}

.empty-line {
    background: linear-gradient(to bottom, #ffbb00, #ffbb00);
}

.empty-line .line-number {
    display: block;
}

.empty-line .line-number-a {
    opacity: 0.15;
}

.empty-line .line-number-b {
    opacity: 0.1;
}

mark {
    background: transparent;
    color: rgb(2, 0, 5);
}

.title-section {
    margin: 0.5em 0;
}

/*.link {
    position: absolute;
    letter-spacing: 9px;
    right: 4.8%;
}
.link-work {
    top: 12.1%;
}*/

/*.link-contact-me{
    top: 17.1%;
}

.link-resume{
    position: absolute;
    letter-spacing: 9px;
    right: 4.8%;
    top: 22.1%;
}
*/
a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: rgb(1, 0, 2);
    text-decoration: none;
}

#button {
    display: inline-block;
    background-color: rgba(28, 61, 33, 0.623);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #ffbb00;
}

#button:active {
    background-color: #ffbb00;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

.footer {
    height: 100%;
    padding: 10vh;
    background-color: #ffbb00;
    color: #F5F5F5;
}

.copyright {
    color: #787878;
    letter-spacing: 4px;
    text-align: center;
}

.footer-content {
    padding-bottom: 5vh;
}

.filters.filters-tag {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    line-height: 1;
    text-align: center;
}

ul.filters.filters-tag > li > a {
    display: block;
    color: #434e5e;
    border-radius: .25rem;
    padding: 0.3rem 0.6rem;
}

ul.filters.filters-tag > li.active > a {
    color: #fff;
    background-color: #ffbb00;
}

.filters-tag {
    font-size: 0.9rem;
}

.bg-dark {
    background-color: #ffbb00 !important;
}

.navbar .dropdown-menu , .navbar .dropdown.show a , .dropdown-item{
    background-color: #ffbb00 !important;
    
    color: rgb(255, 255, 255);;
}

.sticky-top {
    transition: all 0.25s ease-in;
}

/* style for when sitcky is applied */
.stuck .sticky-top {
    background-color: #ffbb00 !important;
}

.navbar-brand {
    color: rgb(255, 255, 255) !important;
    font-size: 1.3em;
}

.mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
    margin-top: 90px;
}



.m_scroll_arrows {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);

    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 3px 4px;

    width: 16px;
    height: 16px;
}


.unu {
    margin-top: 1px;
}

.unu,
.doi,
.trei {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;

}

.unu {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;

    animation-direction: alternate;
    animation-delay: alternate;
}

.doi {
    border-right-color: rgb(17, 1, 1) !important;
    border-bottom-color: rgb(26, 1, 1) !important;
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;

    animation-delay: .2s;
    animation-direction: alternate;

    margin-top: -6px;
}

.trei {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;

    animation-delay: .3s;
    animation-direction: alternate;


    margin-top: -6px;
}

.mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
    top: 170px;
}

@-webkit-keyframes mouse-scroll {

    0% {opacity: 0;}

    50% {opacity: .5;}

    100% {opacity: 1;}
}

@-moz-keyframes mouse-scroll {

    0% {opacity: 0;}

    50% {opacity: .5;}

    100% {opacity: 1;}
}

@-o-keyframes mouse-scroll {

    0% {
        opacity: 0;}

    50% {opacity: .5;}

    100% {opacity: 1;}
}

@keyframes mouse-scroll {

    0% {opacity: 0;}

    50% {opacity: .5;}

    100% {opacity: 1;}
}


@media only screen and (max-width: 767px) {
    header > div {
        padding-top: 35vh;
    }
}

.skills-cont {
    column-count: 3;
    column-width: 400px;
    column-fill: auto;
    margin-top: 25px;
}

.skills-cont .skill {
    border: 6px solid #000;
    padding: 25px;
    min-height: 250px;
    margin-bottom: 15px;
}
